{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="zxx">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0-beta3/css/all.min.css">


<style>
    .modal-header {
        background-color: #B71C41;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-item {
        padding: 10px;
        text-decoration: none;
        color: #333;
        display: block;
    }

    .dropdown-item:hover {
        background-color: #f5f5f5;
    }
</style>

<body>
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>My Orders</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="checkout__order">
                        <h5><a class="text-dark" href="/myorder/">Your order</a></h5>
                        <div class="dropdown">
                            <h5><a class="text-dark" href="#">Account Settings</a></h5>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="/myprofile/">Personal Information</a>
                                <a class="dropdown-item" href="">Manage Address</a>
                            </div>
                        </div>
                        <h5><a href="/mywallet">Mywallet</a></h5>
                        <h5><a href="/mywishlist">mywishlist</a></h5>
                    </div>
                </div>
                <div class="col-lg-8">
                    <h5 class="d-flex justifycontent-between font-weight-bold">My Wishlist</h5>
                    <!-- <h5><a class="text-success" data-toggle="modal" data-target="#exampleModal" type="submit"
                                href="">Add</a>&nbsp;&nbsp;&nbsp; New Addess</h5> -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-12 col-md-8 col-sm-8 ">
                            <div class="checkout__form__input">
                                <div class="container borderd mt-3 ">
                                    <div class="border p-3 d-flex justify-content-between " >
                                        <div class="col-lg-2">
                                            1
                                        </div>
                                        <div class="col-lg-2">
                                                <img src="https://images.unsplash.com/photo-1682685797661-9e0c87f59c60?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8MXx8bmlnaHR8ZW58MHx8MHx8fDA%3D&w=1000&q=80" alt="">
                                        </div>
                                        <div class="col-lg-3">
                                                    Description
                                        </div>
                                        <div class="col-lg-3">
                                            price

                                        </div>
                                        <div class="col-lg-2 text-center">
                                            <a href="">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3C140.6 6.8 151.7 0 163.8 0zM32 128H416L394.8 467c-1.6 25.3-22.6 45-47.9 45H101.1c-25.3 0-46.3-19.7-47.9-45L32 128zm192 64c-6.4 0-12.5 2.5-17 7l-80 80c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V408c0 13.3 10.7 24 24 24s24-10.7 24-24V273.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-4.5-4.5-10.6-7-17-7z"/></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Checkout Section End -->





          <!--Modal: modalDiscount-->
          <div class="modal fade right" id="modalDiscount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger" role="document">
              <!--Content-->
              <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                  <p class="text-center text-black">Order Confirmation</p>
                  <button type="button"  class="close"  aria-label="Close">
                    <a href="/order/remove-show-modal/" class="text-black"><span aria-hidden="true" class="white-text">&times;</span></a> 
                  </button>
                </div>
      
                <!--Body-->
                <div class="modal-body">
      
                  <div>
    
                    <h5 class="text-ceter"><span class="text-success text-center🥳🥳🥳🥳🥳🥳🥳🥳🥳🥳🥳">Congrats🥳🥳🥳🥳🥳🥳🥳🥳🥳🥳🥳</span> <hr> Your order is confirmed</h1>
                  </div>
                </div>
      
                <!--Footer-->
                <div class="modal-footer flex-center">
                  <a href="/order/remove-show-modal/" class="btn btn-danger">
                    Exit
                    <i class="far fa-gem ml-1 white-text"></i>
                  </a>
                  <a class="btn btn-outline-danger waves-effect" href="">Check Order Details</a>
    
                  <!-- <a type="submit" class="btn btn-outline-danger waves-effect" data-dismiss="modal" href="/myorder/">Check Orderdetails</a> -->
                </div>
              </div>
              <!--/.Content-->
            </div>
          </div>


          <script>
            // Set a JavaScript variable with the session value
            var showModal = '{{ request.session.show_modal|default:"False"|lower }}';
        </script>
        
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Check if the JavaScript variable 'showModal' is set to true
                if (showModal === "true") {
                    // Display the modal on page load
                    $('#modalDiscount').modal('show');
        
                    // Remove the 'show_modal' session variable using a fetch request
                    fetch('/order/remove-show-modal/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': csrftoken,  // Replace with your CSRF token if needed
                        },
                    }).then(function (response) {
                        // Handle the response here if needed
                        if (response.status === 200) {
                            // Session variable removed
                        } else {
                            // Handle error if the removal fails
                        }
                    });
                }
            });
        </script>

    {% endblock%}

</body>






</html>