{% extends 'adminpanel\admin_basic.html' %}

{% load static %}

{% block content%}
<html>

<body>
<div class="mt-2">
    <div class="row" style="height: 120vh;"> 
        <div class="col-md-2  d-none d-md-block" style="background-color: black;">
            <div class="selectable-list text-light d-flex justify-content-center">
                <ul class="list-unstyled mt-5">
                    <li class="admin"><a class="item" href="/admin_c/dashboard/">Dashboard</a></li>
                    <li class="admin"><a class="item" href="/admin_c/users/">Users</a></li>
                    <li class="admin"><a class="item" href="/admin_c/products/">Product</a></li>
                    <li class="admin"><a class="item" href="/admin_c/category/">Category</a></li>
                    <li class="admin"><a class="item" href="/admin_c/coupen/">Coupons</a></li>
                    <li class="admin"><a class="item" href="/admin_c/ordermanagement/">Orders</a></li>
                    <li class="admin"><a class="item" href="/admin_c/bannermanagement/">Banners</a></li>
                    <li class="admin"><a class="item" href="/admin_c/dashboard/">Payments</a></li>
                    <!-- Add more list items as needed -->
                </ul>
            </div>
            

        </div>
        <div class="col-md-10 col-10">
            <div class="d-flex justify-content-center">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div style="width: 170vh;" class="row d-flex justify-content-center">
                            <div>
                                <h3><b>Dash Board</b></h3>
                            </div>
                        </div>
                    </div> 
                    <h1>Sales Report Page</h1>
                    <form method="post" action="{% url 'generate_sales_report_pdf' %}">
                        {% csrf_token %}
                        <label for="start_date">Start Date:</label>
                        <input type="date" id="start_date" name="start_date" required>
                
                        <label for="end_date">End Date:</label>
                        <input type="date" id="end_date" name="end_date" required>
                
                        <button type="submit">Generate PDF Report</button>
                    </form>
                
                    {% if report_generated %}
                        <a href="{{ report_download_url }}" download="sales_report.pdf">
                            <button>Download Report</button>
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock content%}
