{% extends 'adminpanel\admin_basic.html' %}

{% load static %}

{% block content%}
<html>

<body>
<div class="mt-2">
    <div class="row" style="height: 120vh;"> 
        <div class="col-md-2  d-none d-md-block " style="background-color: black;">

            <div class="selectable-list text-light d-flex justify-content-center">
                <ul class="list-unstyled mt-5">
                    <li class="admin"><a class="item"  href="">Dashboard</a></li>
                    <li class="admin"><a class="item" href="">Users</a></li>
                    <li class="admin"><a class="item" href="">Product</a></li>
                    <li class="admin"><a class="item" href="">Category</a></li>
                    <li class="admin"><a class="item" href="">Coupns</a></li>
                    <li class="admin"><a class="item" href="">Orders</a></li>
                    <li class="admin"><a class="item" href="">Banners</a></li>
                    <li class="admin"><a class="item" href="">Payements</a></li>                    
                    <!-- Add more list items as needed -->
                </ul>
            </div>
            

        </div>
        <div class="col-md-10 col-10">
           <div class="row">
            <div class="col-lg-4">
                <div class="card" style="height: 40vh;">
                    <div class="card-body">
                        <h5 class="card-title">Category</h5>
                        <form action="#">
                            <div class="form-group">
                                <label for="category"> Add category</label>
                               <input id="category" type="Add catergory">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Subcategory Form</h5>
                        <form action="#">
                            <div class="form-group">
                                <label for="subcategory">Choose the category</label>
                                <select class="form-control" id="subcategory">
                                    bfbndf
                                </select>
                                <label for="subcateogry"></label>
                                <input id="subcateogry" type="Enter Subcategotry">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="height: 40vh;">
                    <div class="card-body">
                        <h5 class="card-title">Size</h5>
                        <form action="#">
                            <div class="form-group">
                                <label for="category"> Size</label>
                               <input id="category" type="Add catergory">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            
           </div>
           <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vareint</h5>
                        <form action="#">
                            <div class="form-group">
                                <label for="subcategory">Subcategory</label>
                                <select class="form-control" id="subcategory">
                                    <!-- Add your subcategory options here -->
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Colour</h5>
                        <form action="#">
                            <div class="form-group">
                                <label for="subcategory">Subcategory</label>
                                <select class="form-control" id="subcategory">
                                    <!-- Add your subcategory options here -->
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Size</h5>
                        <form action="#">
                            <div class="form-group">
                                <label for="subcategory">Subcategory</label>
                                <select class="form-control" id="subcategory">
                                    <!-- Add your subcategory options here -->
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            
           </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock content%}
