<div class="row property__gallery">
    {% for i, y in data %}
    <div class="col-lg-3 col-md-4 col-sm-6 mix women mb-4">
        <div class="product__item card">
            <!-- Product Image with Background -->
            <div class="product__item__pic set-bg" 
                 style="background-image: url('{{ i.images.url }}'); 
                        height: 250px; 
                        background-size: cover; 
                        background-position: center;">
                <!-- Product Label -->
                <div class="label new badge badge-danger">New</div>

                <!-- Rating Display -->
                <div class="rating1">
                    <span>
                        {% if y == none %}
                        0
                        {% else %}
                        {{ y }}
                        {% endif %}
                    </span>
                    <i class="fa fa-star"></i>
                </div>

                <!-- Hover Action Buttons -->
                <ul class="product__hover">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                </ul>
            </div>

            <!-- Product Text Description -->
            <div class="product__item__text text-center mt-3">
                <h6><a href="/products/products_details/{{ i.id }}">{{ i.name }}</a></h6>
                <p class="product-price text-muted">${{ i.price }}</p>
                <a href="#" class="btn btn-outline-primary btn-sm mt-2">Buy Now</a>
            </div>
        </div>
    </div>

    {% if forloop.counter|divisibleby:4 %}
</div>
<div class="row property__gallery">
    {% endif %}
    {% endfor %}
</div>
